<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericringer.sfindiefest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ericringer.sfindiefest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ericringer.sfindiefest.FilmDetailActivity"
            android:label="@string/title_activity_film_detail"
            android:parentActivityName="com.ericringer.sfindiefest.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ericringer.sfindiefest.MainActivity" />
        </activity>
        <activity
            android:name="com.ericringer.sfindiefest.FilmTrailerActivity"
            android:label="@string/title_activity_film_trailer" >
        </activity>
        <activity
            android:name="com.ericringer.sfindiefest.BuyTicketsActivity"
            android:label="@string/title_activity_buy_tickets" >
        </activity>
        <activity
            android:name="com.ericringer.sfindiefest.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.ericringer.sfindiefest.FilmLocationActivity"
            android:label="@string/title_activity_film_location" >
        </activity>
    </application>

</manifest>
